@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --background: #0a0a0a;
    --foreground: #ededed;
  }


  *{
    scroll-behavior: smooth;
  }

button {
  border-style: none;
}
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  background-size: 200% auto;
  animation: shimmer 3s linear infinite;
}